.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 100px;
  height: 52px;

  /* Blue Dark */

  background: #1e6f9f;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.button span {
  width: 34px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */

  /* Gray 100 */

  color: #f2f2f2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.button img {
  width: 16px;
  height: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
