.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 90px;
  height: 52px;

  background: var(--dark-blue);
  color: #fff;
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
