.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 90px;
  height: 52px;

  background: var(--dark-blue);
  border-radius: 8px;
}

.button span {
  width: 34px;
  height: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
}
