.container {
  position: absolute;
  height: 200px;
  max-width: 100%;
  left: 0;
  right: 0;
  top: 0;

  background: var(--gray-700);
}

.container img {
  position: absolute;
  width: 126px;
  height: 48px;
  margin: 30;
}
