.newTaskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 46rem;
  height: 3.375rem;
  left: calc(50% - 736px / 2);
  top: 10.8125rem;
}

.input {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 638px;
  height: 54px;

  background: var(--gray-500);
  color: #fff;

  border: 1px solid var(--gray-700);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.input:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--dark-purple);
}

.input::placeholder {
  color: var(--gray-300);
}

.button {
  width: 90px;
  height: 52px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border: 0;
  border-radius: 8px;

  background: var(--dark-blue);
  color: white;

  cursor: pointer;

  transition: filter 0.2s;
}

.button span {
  width: 34px;
  height: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 140%;

  color: var(--gray-100);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.button img {
  width: 16px;
  height: 16px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.button:hover {
  background: var(--blue);
  filter: brightness(0.8);
}
